<% @cookbook.all.each_with_index do |recipe, index| %>
  <li>
    <%= "#{index + 1} - #{recipe.name}" %> 
    <a href="/database/recipes/<%= index %>/delete">
    	<input class="btn btn-link btn-sm" type="button" value= "Delete">
    </a>
  </li>
<% end %>

<a href="/new">Add a new recipe<a>
