
<!-- The <form> will be the equivalent of the gets in the terminal. We need fields for the recipe’s name, description, and any other field you find relevant to add. Submitting this form should trigger the following HTTP request:

POST /recipes
This request should trigger some code in app.rb to add the recipe in the cookbook.
At the end of this code, find a way to redirect the user to the / url of your web app (the index). -->

<form method="POST" action="/database/recipes/create">
	<label for="recipe_name">Recipe name:</label><br>
	<input type="text" name="name"><br>
	<label for="description">Recipe description:</label><br>
	<input type="text" name="description"><br>
	<label for="rating">Recipe rating (out of 5):</label><br>
	<input type="text" name="rating"><br>
	<label for="prep_time">Preparation time (minutes):</label><br>
	<input type="text" name="prep_time"><br>
	<input type="submit" value="Submit">
</form>
